.env
__pycache__
myenv
nglviewer
ProtienDB/rcsb-restful-api-docs.json
OMol25/train_4M
OMol25/ExtractdataOMOL.py
OMol25/.env
OMol25/data_large
OMol25/data_large/Unconfirmed 108927.crdownload
OMol25/TEXT.txt
