#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.overflow-x-auto::-webkit-scrollbar {
  height: 4px;
}
.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #4b5e6f;
  border-radius: 2px;
}
.overflow-x-auto::-webkit-scrollbar-track {
  background: #2d3748;
}